*cache*
build/
data/*
!data/.placeholder
docs/*
!docs/Doxyfile
!docs/dox-readme.md
!docs/trajectories.svg
env/
figs/*
!figs/.placeholder
movement/*
!movement/.placeholder
*.sublime-*
compile_commands.json
*.tar.xz
*_old.*
